<!DOCTYPE html>
<html lang="es-AR">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Trabajo integrador">
<meta name="author" content="Mauricio Cox">
<title>
    <%= title %>
</title>
<link rel="shortcut icon" href="./img/icons/favicon.svg" type="image/x-icon">
<link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.css" rel="stylesheet" />
<link rel="stylesheet" href="./css/style.css">