<%- include('./modules/head', {title: 'title index site' }) %>

    <body class="dark:bg-gray-900 h-screen bg-gray-500">
        
        <header>

            <figure class="relative">

                <img class="mx-auto w-full h-full" src="./img/band/bg-band.jpg" alt="image description">

                <figcaption class="absolute text-4xl text-white font-bold bottom-6 p-8">
                    The quick, brown fox
                    
                </figcaption>

            </figure>

        </header>



        <%- include('./modules/nav') %>

        <main class="p-6">
            <button id="darkModeBtn">DM</button>
            <p class="">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium esse officiis rerum,
                repellat molestias atque asperiores velit numquam alias ipsa nobis minus magni. Odit assumenda quibusdam
                pariatur quam quia. In?</p>
        </main>

        <%- include('./modules/footer')%>
            
    </body>
