@import url(./nav.css);

:root {
    --bg-clr: pink;
}

html {
    background-color: whitesmoke;
    /* padding: .2rem; */
}

main {
    max-width: 90%;
    margin: 0 auto;
    background-color: var(--bg-clr);
}
